# SQL Practice
We'll be using sqlite to access a database. Start by downloading the sql lite file and putting it in the same directory as this notebook: https://www.kaggle.com/datasets/kaggle/sf-salaries (hit the 'download' button in the upper right). Check out the description of the data so you know the table / column names.

The name of the table we will used is called 'Salaries'

This colab notebook serves as a practice and learning point for SQL
The following code will use sqlite to create a database connection.

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("database.sqlite")
crsr = conn.cursor()

Before we proceed, please note that every task **must be completed using a single SQL query**, unless mentioned otherwise or given as prompt.     
(e.g. using print statements are fine, but you should not be using **pandas library** to work with the dataset.). You can use Print statement with the single SQL question.

# Section 01: Exploration

Problem 1:


Try to create a query that gives you a data frame of the **EmployeeName, JobTitle, and BasePay** from the salaries table.Further limit the table to the year 2012, employees making under 150,000, and sort in descending order by salary.

In [ ]:
query = ''

df = pd.read_sql(query, conn)
df.head()

# Section 02: Aggregation

Problem 2:

Produce and print the head of a dataframe that shows the average pay for each year (only use a single, simple query). Your result should have a column for the year and a column for the average base pay.

In [ ]:
query = ''

df = pd.read_sql(query, conn)
df.head()

Problem 3:

Create a dataframe with averages of base pay, averages of benefits, and averages of overtime for each job title, as well as a column with the sum of these three values.

In [ ]:
query = ''
df = pd.read_sql(query, conn)
df.head()

 # Section: Table Creation

Problem 4: Create own Table

Now we'll create our own table in our database. Separate the Salaries table by Year, and add it back to the database. (You may use basic python to complete the task, however, should still use SQL to query the data.)

To do this, you'll have to learn how to create a table in SQL. You will likely need this function (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_sql.html), which should make the process simple.

Here's the basic structure of how you'll want to do this...

1. Through some form of loop, collect all the salaries in a given year.
2. Write that data to the sql connection using the function linked above. Make sure to give it a unique name!

In [ ]:
for y in ['2011','2012','2013','2014']:
    query = ""
    df = pd.read_sql(query, conn)
    df.to_sql(name='Y'+y, con=conn, if_exists='replace')

**do not modify below code** (ONLY FOR DEBUGGING PURPOSE FOR PROBLEM 4)

*You can run the code below to check that things work. Your output should be similar to the expected output below... but the names of your new tables do not need to match exactly*.

In [ ]:
### it is added to check if db has the tables added in above problem 8 ###
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

## if your above code is correct, in that case, running this cell will create output like following

##[('Salaries',), ('2011',), ('test',), ('Y2011',), ('Y2012',), ('Y2013',), ('Y2014',)]

# Section: Table Joining

Problem 5:

We'll move on to a new dataset for the next steps.
Download the dataset from here (https://www.kaggle.com/datasets/luizpaulodeoliveira/imdb-project-sql) and load the sqlite file same as before. Start by just selecting everything in the "movies" table to see what it looks like.

In [ ]:
conn = sqlite3.connect("movies.sqlite")
query = ''

df = pd.read_sql(query, conn)
df.head()

Problem 6:

Create a dataframe that includes the entire contents of "movies" table as well as the director's name.

**Hint:** You may want to perform an inner join on the 'directors' table to complete this task. Investigate that table to learn more about this solution. Note that the movies table has a 'director_id' column which may help.

In [ ]:
query = ''
df = pd.read_sql(query, conn)

print(df.head(5))
df.size

# Section: Analysis

The next few problems will be more involved! You'll need to combine some concepts you've learned. For each cell, show your work.
\
Remember, the answers should be in **a single query**.

\

Problem 7:

Which directors have the highest overall voting average? - show the top 5 directors' name and their average rating

In [ ]:
query = ''
df = pd.read_sql(query, conn)

print(df)

Problem 08:

What are the top five directors by how much their average budget is?

In [ ]:
query = ''
df = pd.read_sql(query, conn)

print(df)